body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
    --background: #17d07a; 
    --color: white;
    --second-color: rgb(226, 232, 240);
}

.container{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main-content{
    grid-column: 2;
    display: grid;
    grid-row: 1fr 3fr;
}

.header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-shadow: gainsboro 2px 2px 10px;
    padding: 10px;
    gap: 12px;
}

.search-bar{
    display: grid;
    grid-template-columns: 25px 2fr;
    align-items: center;
    column-gap: 10px;
}

.bar{
    border: 0;
    width: 75%;
    height: 30px;
	background-color: var(--second-color);
    border-radius: 20px;
}

#search{
    height: auto;
    width: 25px;
}

.items{
    grid-column: span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 8px;
}

.name{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    column-gap: 8px;
}

#Bigger{
    height: auto;
    width: 50px;
}

#UserName{
    font-weight: bold;
    font-size: large;
}

.projects, lists{
    padding: 18px;
}

.card-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-projects .card{
    border-left: 5px solid #00be69;
    padding: 28px;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.description{
    align-self: center;
    padding: 6px;
}

.images{
    display: grid;
    grid-template-columns: repeat(3, 25px);
    align-items: center;
    column-gap: 8px;
}

button{
    background-color: var(--background);
    border: 0;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: bold;
    color: var(--color);
}

.sidebar{
    background-color: var(--background);
    grid-row: 1 / 2;
}

.sidebar div{
    padding: 4px;
    text-transform: uppercase;
    color: var(--color);
    text-align: center;
}

.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--second-color);
    padding: 10px;
    column-gap: 20px;
}

.card{
    background-color: white;
    padding: 18px 18px;
    border-radius: 10px;
    box-shadow: #bbb 1px 10px 10px;
}

p{
    font-size: 12px;
    font-weight:normal;
    color:rgb(160, 156, 156);
    padding-bottom: 8px;   
}

.card h4{
    margin: 0;
}

.card-items{
    padding: 6px;
    display: grid;
    grid-template-columns: 25px 1fr;
    column-gap: 8px;
}

#first, #second{
    border-bottom: 1px solid gainsboro;
}