body,
html {
  height: 100%;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header{
    grid-column: 2/4;
}

.sidebar{
    background-color: #7bdab8;
    grid-row: 1 / 3;
}

.sidebar div{
    padding: 4px;
    text-transform: uppercase;
}

.main{
    grid-column: 2/4;
}
